<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Local Deployment-->
    <!--<add key="ReportUrl" value="http://183.182.84.210/PGMSDev/ReportViewer/ReportViewer.aspx"/>
    <add key="strBlobAccount" value="natraxpgmsstorage"/>
    <add key="strAccountKey" value="sCqvPsnbJp4wWe1eV/xGEwYCpyBZ29N9D4dJliCNA1Xs+x7Ph/4k87Ma31TkC/WMlVqBVKlDThF6DOtkcxjn6Q=="/>
    <add key="strFTPRoot" value="/PGMS/Booking/"/>
    <add key="strFTPServer" value="ftp://183.182.84.210"/>
    <add key="strFTPUserName" value="administrator"/>
    <add key="strFTPUserPassword" value="pear1f@rm"/>
    <add key="strPOURL" value="http://183.182.84.210:8085/FTPFiles/PGMS/Booking/"/>
    <add key="strFileStorage" value="FTP"/>
    <add key="strImgPath" value="https://natraxpgmsstorage.blob.core.windows.net/natraximage/" />
    <add key="strHostName" value="https://localhost:44307/"/>-->


    <!--Azure Deployment-->
    <add key="ReportUrl" value="http://pgmsbackofficeqa.azurewebsites.net/ReportViewer/ReportViewer.aspx" />
    <add key="strBlobAccount" value="natraxpgmsstorateqa" />
    <add key="strAccountKey" value="u7l+Ri0uQwdVMGoj9MpKAdGAEIl5+J7XzYry+qaoSc/yJVN/cb38l9JXkIAportl+m1cFHA9nNNiONQXTRhHMA==" />
    <add key="strFTPRoot" value="/PGMS/Booking/" />
    <add key="strFTPServer" value="ftp://183.182.84.210" />
    <add key="strFTPUserName" value="administrator" />
    <add key="strFTPUserPassword" value="pear1f@rm" />
    <add key="strPOURL" value="https://natraxpgmsstorateqa.blob.core.windows.net/booking/" />
    <add key="strFileStorage" value="AzureBlob" />
    <add key="strImgPath" value="https://natraxpgmsstorateqa.blob.core.windows.net/natraximage/" />
    <add key="strHostName" value="https://pgmsfrontqa.azurewebsites.net/"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime enableVersionHeader="false" targetFramework="4.5" maxRequestLength="86753090" executionTimeout="3600"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="Arr-Disable-Session-Affinity" value="true"/>
        <add name="Strict-Transport-Security" value="max-age=31536000"/>
        <add name="X-Content-Type-Options" value="nosniff "/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+"/>
          <action type="Rewrite" value=""/>
        </rule>
      </outboundRules>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" closeTimeout="01:01:00" openTimeout="01:01:00" receiveTimeout="02:10:00" sendTimeout="01:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="01:10:00" enabled="false"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://183.182.84.210/WCFPGMSFront/Service1.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1" contract="WCFPGMSRef.IService1" name="WSHttpBinding_IService1">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>-->
      <endpoint address="http://pgmssvcfrontqa.azurewebsites.net/service1.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
        contract="WCFPGMSRef.IService1" name="WSHttpBinding_IService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647 "/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>