@{
    ViewBag.Title = "Workshop";
    Layout = "~/Views/Shared/_LayoutTrack.cshtml";
}

<style>
    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .table thead tr th {
        font-size: 14px;
        border-top: 1px solid #ddd;
    }

    .table tbody tr td {
        font-size: 14px;
    }

    .card-header {
        padding: 0px 4px 0px 10px !important;
    }

    .card .card-body {
        padding: 0px 5px 0px 5px !important;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Booking Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="5%">#</th>
                                                <th width="25%" class="text-right">From Date</th>
                                                <th width="25%" class="text-right">To Date</th>
                                                <th width="25%" class="text-right">Booked Days</th>
                                                <th width="20%" class="text-right">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="tr_1" onclick="changeColor('1')">
                                                <td>1</td>
                                                <td class="text-right">18/03/2020</td>
                                                <td class="text-right">20/03/2020</td>
                                                <td class="text-right">3</td>
                                                <td class="text-right">19900.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        #1&nbsp;&nbsp;@*<span class="suggestion">.....</span>&nbsp;&nbsp;<span style="color: red;">Fields must be filled out.</span>*@
                        <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore()">Add More</button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="15%">Date</th>
                                                <th width="30%">Type</th>
                                                <th width="25%">Rate</th>
                                                <th width="30%" class="text-right">Bookings Status on Day</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="table-warning">
                                                    <input type="text" class="form-control datetimepicker">
                                                </td>
                                                <td class="table-warning">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="Type" value="1" onclick="SelectTrack()"> Big
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="Type" value="2" onclick="SelectTrack()"> Small
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td id="Rate">0</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore()">Submit</button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="AddMoreRow" style="display: none">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        #2&nbsp;&nbsp;@*<span class="suggestion">.....</span>&nbsp;&nbsp;<span style="color: red;">Fields must be filled out.</span>*@
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="15%">Date</th>
                                                <th width="30%">Type</th>
                                                <th width="25%">Rate</th>
                                                <th width="30%" class="text-right">Bookings Status on Day</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="table-warning">
                                                    <input type="text" class="form-control datetimepicker">
                                                </td>
                                                <td class="table-warning">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="Type" value="1" onclick="SelectTrack()"> Big
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="Type" value="2" onclick="SelectTrack()"> Small
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td id="Rate">0</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore()">Submit</button>
                    </div>
                </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var Holdid = '';
    var spanPrv = '';
    function changeColor(id) {
        if (id != Holdid || Holdid == "") {
            $("#tr_" + Holdid + "").removeClass('highlighted');
            $("#sp_" + Holdid).css("visibility", "hidden");
            $("#tr_" + id + "").addClass('highlighted');
            Holdid = id;
        }
        else {
            if ($("#tr_" + id + "").hasClass('highlighted')) {
                $("#tr_" + id + "").removeClass('highlighted');
                Holdid = 0;
            }
            else {
                $("#tr_" + id + "").addClass('highlighted');
                Holdid = id;
            }
        }
    }

    function SelectTrack() {
        debugger
        var radioValue = $("input[name='Type']:checked").val();
        if (radioValue == 1) {
            $("#Rate").text("8500");
        } else {
            $("#Rate").text("5700");
        }
    }

    function AddMore() {
        $("#AddMoreRow").show();
    }
</script>

