@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table > tbody > tr > td {
        padding: 2px 8px !important;
        cursor: pointer !important;
    }

    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .bootstrap-select {
        margin-top: 16px !important;
    }

    .main-panel > .content {
        margin-top: 0 !important;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMoreOther()">Add More</button>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th width="7%">Sr.No.</th>
                                    <th width="17%">Department</th>
                                    <th width="18%">HOD</th>
                                    <th width="16%">Phone No.</th>
                                    <th width="16%">Mobile No.</th>
                                    <th width="16%">Email</th>
                                    <th width="10%" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="AddMoreOtherTR" style="        display: none;">
                                    <td><input type="text" class="form-control" value="2"></td>
                                    <td><input type="text" class="form-control" value=""></td>
                                    <td><input type="text" class="form-control" value=""></td>
                                    <td><input type="text" class="form-control" value=""></td>
                                    <td><input type="text" class="form-control" value=""></td>
                                    <td><input type="text" class="form-control" value=""></td>
                                    <td class='td-actions text-center'>
                                        <button type='button' rel='tooltip' class='btn btn-info' data-original-title='' title=''><i class='material-icons'>save</i></button>
                                        <button type='button' rel='tooltip' class='btn btn-danger' data-original-title='' title='' onclick="AddMoreOtherCancel()"><i class='material-icons'>close</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sales</td>
                                    <td>Manish Jain</td>
                                    <td>0731-559759</td>
                                    <td>8103779187</td>
                                    <td>test@test.com</td>
                                    <td class='td-actions text-center'>
                                        <button type='button' rel='tooltip' class='btn btn-info' data-original-title='' title=''><i class='material-icons'>edit</i></button>
                                        <button type='button' rel='tooltip' class='btn btn-danger' data-original-title='' title=''><i class='material-icons'>close</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function AddMoreOther() {
        $("#AddMoreOtherTR").show();
    }

    function AddMoreOtherCancel() {
        $("#AddMoreOtherTR").hide();
    }
</script>