@{
    ViewBag.Title = "Driver";
    Layout = "~/Views/Shared/_LayoutTrack.cshtml";
}

<style>
    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Drivers Count: 3<button type="button" class="btn btn-fill btn-rose pull-right" onclick="AddMoreDriver()">Add More</button></h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="7%">Sr. No.</th>
                                                <th width="19%">Name</th>
                                                <th width="19%">Licence No.</th>
                                                <th width="19%">Validity Date</th>
                                                <th width="21%">Natrax Training Attended</th>
                                                <th width="15%" class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="AddMoreDriverTR" style="        display: none;">
                                                <td><input type="text" class="form-control" value="4"></td>
                                                <td><input type="text" class="form-control" value=""></td>
                                                <td><input type="text" class="form-control" value=""></td>
                                                <td><input type="text" class="form-control" value=""></td>
                                                <td>
                                                    <select class="selectpicker" data-size="7" data-style="select-with-transition" title="Select">
                                                        <option>Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-link btn-info btn-just-icon remove"><i class="material-icons">save</i></a>
                                                    <a href="#" class="btn btn-link btn-danger btn-just-icon remove" onclick="AddMoreDriverCancel()"><i class="material-icons">close</i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Kapil Saratkar</td>
                                                <td>1234567890</td>
                                                <td>31/03/2020</td>
                                                <td>Yes</td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-link btn-info btn-just-icon remove"><i class="material-icons">edit</i></a>
                                                    <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Kapil Saratkar</td>
                                                <td>1234567890</td>
                                                <td>31/03/2020</td>
                                                <td>Yes</td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-link btn-info btn-just-icon remove"><i class="material-icons">edit</i></a>
                                                    <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Kapil Saratkar</td>
                                                <td>1234567890</td>
                                                <td>31/03/2020</td>
                                                <td>Yes</td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-link btn-info btn-just-icon remove"><i class="material-icons">edit</i></a>
                                                    <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function AddMoreDriver() {
        $("#AddMoreDriverTR").show();
    }

    function AddMoreDriverCancel() {
        $("#AddMoreDriverTR").hide();
    }
</script>
