@{
    ViewBag.Title = "High Speed Track Detail";
}

<style>
    .card .card-header .card-title {
        font-weight: 700;
        margin-bottom: 0px;
        border-bottom: 1px solid #ddd;
        padding: 25px 10px 5px 0px;
        margin: 0;
        box-shadow: none !important;
        background: #ffffff;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="home-demo">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">High Speed Track</h4>
                        </div>
                        <div class="card-body">
                            <div id="accordion" role="tablist">
                                <div class="card-collapse">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                Description & Documents
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <span>(Under Construction)</span>
                                                    <ul>
                                                        <li>Oval shaped high speed track of 16m width.</li>
                                                        <li>Total length of 11.3km.</li>
                                                        <li>Maximum neutral speed: 250kmph.</li>
                                                        <li>Maximum Speed on curves: 375kmph.</li>
                                                    </ul>
                                                    <p>The High-speed track is one of the largest in World i. e 11.3 km with 4 lane and is used to carry out development and homologation tests for all kinds of vehicles. The large size of this track enables the OEM’s to perform a wide variety of tests in one track itself like coast down tests, brake tests, constant speed fuel consumption test, speedometer calibration, noise & vibration measurement and mileage accumulation among others.</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="javascript:void(0)" style="color: #000;"><img src="~/Templates/img/pdfIcon.png">PDF for detail</a><br /><br />
                                                    <a href="javascript:void(0)" style="color: #000;"><img src="~/Templates/img/pdfIcon.png">PDF for detail</a><br /><br />
                                                    <a href="javascript:void(0)" style="color: #000;"><img src="~/Templates/img/pdfIcon.png">PDF for detail</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-collapse">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="">
                                                Images
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="owl-carousel owl-theme">
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="https://www.natrax.in/wp-content/uploads/2020/04/natrax-high-speed-track.jpg" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="https://www.natrax.in/wp-content/uploads/2020/04/natrax-high-speed-track.jpg" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="https://www.natrax.in/wp-content/uploads/2020/04/natrax-high-speed-track.jpg" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="https://www.natrax.in/wp-content/uploads/2020/04/natrax-high-speed-track.jpg" width="300" height="200" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-collapse">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="">
                                                Videos
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="owl-carousel owl-theme">
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


