@{
    ViewBag.Title = "Add-On Services";
    Layout = "~/Views/Shared/_LayoutTrack.cshtml";
}

<style>
    .table > tbody > tr > td {
        padding: 2px 8px !important;
        cursor: pointer !important;
    }

    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .bootstrap-select {
        margin-top: 16px !important;
    }

    .main-panel > .content {
        margin-top: 0 !important;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    @*<div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>*@
                    <h6 class="card-title" style="margin-top: 5px;">
                        <strong><span>Date:</span></strong>&nbsp;<span id="BookingDate"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong><span>Document Type:</span></strong>&nbsp;<span id="BookingType"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong><span>Document No.:</span></strong>&nbsp;<span id="BookingNo"></span>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="arrow-steps clearfix">
                        <div class="step current"><span>Booking</span></div>
                        <div class="step"><span>PI</span></div>
                        <div class="step"><span>Approve</span></div>
                        <div class="step"><span>PO</span></div>
                        <div class="step"><span>PO Verification</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Workshop / Storage Count: 0
                        <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMoreOther()">Add More</button>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th width="15%">Description</th>
                                    <th width="14%">Date</th>
                                    <th width="14%">Consumption</th>
                                    <th width="14%">Rate</th>
                                    <th width="14%">Amount</th>
                                    <th width="15%">Remark</th>
                                    <th width="14%" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="AddMoreOtherTR" style="display: none;">
                                    <td><select class="form-control"><option>-Select-</option></select></td>
                                    <td><input type="text" class="form-control datetimepicker" value=""></td>
                                    <td><input type="text" class="form-control" value=""></td>
                                    <td><input type="text" class="form-control" value=""></td>
                                    <td><input type="text" class="form-control" value=""></td>
                                    <td><textarea class="form-control"></textarea></td>
                                    <td class='td-actions text-center'>
                                        <button type='button' rel='tooltip' class='btn btn-info' data-original-title='' title=''><i class='material-icons'>save</i></button>
                                        <button type='button' rel='tooltip' class='btn btn-danger' data-original-title='' title='' onclick="AddMoreOtherCancel()"><i class='material-icons'>close</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function AddMoreOther() {
        $("#AddMoreOtherTR").show();
    }

    function AddMoreOtherCancel() {
        $("#AddMoreOtherTR").hide();
    }
</script>