@model PGMSFront.Models.CommonModel
@{
    ViewBag.Title = "Lab Booking & RFQ";
    Layout = "~/Views/Shared/_LayoutLabBookingAndRFQ.cshtml";
}
<style>
    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .bootstrap-select {
        margin-top: 16px !important;
    }

    .badge {
        padding: 2px 2px;
        font-size: 13px;
        color: #FFF;
        background: #000;
        border-radius: 50%;
        margin-top: 6px;
        margin-right: 3px;
        min-width: 20px;
    }

    .card-stats .card-header .card-category:not([class*="text-"]) {
        color: #000;
        font-size: 18px;
        font-weight: 400;
    }

    .card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
        text-align: left;
    }

    .card [class*="card-header-"] {
        margin: 0px 5px 0;
        padding: 0;
        position: relative;
    }

    .card-stats .card-header + .card-footer {
        margin-top: 8px;
    }

    .card-stats .card-header .card-category:not([class*="text-"]) {
        color: #FFF;
    }

    .card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
        color: #FFF;
    }

    .card .card-body + .card-footer .stats, .card .card-footer .stats {
        color: #FFF;
        line-height: 15px;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-text">
                        <h4 class="card-title">Lab Dashboard</h4>
                    </div>
                </div>
                <div class="card-body">
                    @*@using (Html.BeginForm(new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()*@
                        <br />

                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4" style="        padding-right: 0px;
        padding-left: 0px;">
                                <div class="card card-stats" style="background: #fb8c00;">
                                    <div id="divLabRFQ" style="text-align:left; height: 160px;" class="card-header card-header-warning card-header-icon">

                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">View More <i class="material-icons">arrow_forward</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4" style="        padding-right: 0px;
        padding-left: 5px;">
                                <div class="card card-stats" style="background: #d81b60;">
                                    <div id="divLabBooking" style="text-align:left; height: 160px;" class="card-header card-header-rose card-header-icon">

                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">View More <i class="material-icons">arrow_forward</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4" style="        padding-right: 0px;
        padding-left: 5px;">
                                <div class="card card-stats" style="background: #43a047;">
                                    <div id="divLabUsage" style="text-align:left; height: 160px;" class="card-header card-header-success card-header-icon">

                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">View More <i class="material-icons">arrow_forward</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4" style="        padding-right: 0px;
        padding-left: 5px;">
                                <div class="card card-stats" style="background: #8e24aa;">
                                    <div id="divLabInvoice" style="text-align:left; height: 160px;" class="card-header card-header-primary card-header-icon">

                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">View More <i class="material-icons">arrow_forward</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    @*}*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
      ///////////////////////////// LoadDashboardInfo  //////////////////////////////////////////////////////
    function LoadDashboardInfo() {
        try {
            LoaderShow();

            var data = {};
            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });

            $.ajax({
                url: '@Url.Action("LoadDashboardInfo", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (data) {

                    LoaderHide();
                    if (data.StatusId != "99" && data.StatusId != "-99") {
                        BindDashboarData(data.DashboardList);
                    }
                    else {
                        alert(data.Status);
                    }
                },
                error: function (xhr) {

                    LoaderHide();
                    alert(xhr.responseText);
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
        }
        return false;
    }
    ///////////////////////////// Bind Dashboard Info  //////////////////////////////////////////////////////
    function BindDashboarData(data) {
        try {
           
            var gridData = "";

            //////////////////////////// Track - RFQ /////////////////////////////////////////////
            //var dataList = jQuery.grep(data, function (obj) {
            //    return obj.BPId == 46;
            //});

            //gridData = "";
            //gridData = gridData +  "<div class='card-icon' style='padding:0px; '> <i class='material-icons'>equalizer</i> </div>";
            //gridData = gridData +  "<p class='card-category'>Track - RFQ</p>";
            //$("#divTrackRFQ").html("");
            //for (var i = 0; i < dataList.length; i++) {

            //    gridData = gridData + "<h5 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts)+"</span></h5>";
            //}

            //$("#divTrackRFQ").html(gridData);

            //////////////////////////// Track - Booking   /////////////////////////////////////////////
            // dataList = jQuery.grep(data, function (obj) {
            //    return obj.BPId == 21;
            //});
            //gridData = "";
            //gridData += "<div class='card-icon' style='padding:0px; '> <i class='material-icons'>equalizer</i> </div>";
            //gridData += "<p class='card-category'>Track - Booking</p>";
            //$("#divTrackBooking").html("");
            //for (var i = 0; i < dataList.length; i++) {

            //    gridData = gridData + "<h5 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h5>";
            //}
            //$("#divTrackBooking").html(gridData);

            ////////////////////////////   Track Usages /////////////////////////////////////////////
            // dataList = jQuery.grep(data, function (obj) {
            //    return obj.BPId == 24;
            //});
            //gridData = "";
            //gridData += "<div class='card-icon' style='padding:0px; '> <i class='material-icons'>equalizer</i> </div>";
            //gridData += "<p class='card-category'>Track - Usages</p>";
            //$("#divTrackUsage").html("");
            //for (var i = 0; i < dataList.length; i++) {

            //    gridData = gridData + "<h5 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h5>";
            //}
            //$("#divTrackUsage").html(gridData);

            ////////////////////////////  Track Invoicing /////////////////////////////////////////////
            // dataList = jQuery.grep(data, function (obj) {
            //    return obj.BPId == 39;
            //});
            //gridData = "";
            //gridData += "<div class='card-icon' style='padding:0px; '> <i class='material-icons'>equalizer</i> </div>";
            //gridData += "<p class='card-category'>Track - Invoicing</p>";
            //$("#divTrackInvoice").html("");
            //for (var i = 0; i < dataList.length; i++) {

            //    gridData = gridData + "<h5 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h5>";
            //}
            //$("#divTrackInvoice").html(gridData);

            //////////////////////////  Lab - RFQ /////////////////////////////////////////////
             dataList = jQuery.grep(data, function (obj) {
                return obj.BPId == 91;
            });
            gridData = "";
            gridData += "<div class='card-icon' style='padding:0px; '> <i class='material-icons'>room_preferences</i> </div>";
            gridData += "<p class='card-category'>Lab - RFQ</p>";
            $("#divLabRFQ").html("");
            for (var i = 0; i < dataList.length; i++) {

                gridData = gridData + "<br/><h7 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h7>";
            }
            $("#divLabRFQ").html(gridData);

            //////////////////////////  Lab Booking /////////////////////////////////////////////
             dataList = jQuery.grep(data, function (obj) {
                return obj.BPId == 90;
            });
            gridData = "";
            gridData += "<div class='card-icon' style='padding:0px; '> <i class='material-icons'>room_preferences</i> </div>";
            gridData += "<p class='card-category'>Lab - Booking</p>";
            $("#divLabBooking").html("");
            for (var i = 0; i < dataList.length; i++) {

                gridData = gridData + "<br/><h7 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h7>";
            }
            $("#divLabBooking").html(gridData);

            //////////////////////////  Lab /////////////////////////////////////////////
             dataList = jQuery.grep(data, function (obj) {
                return obj.BPId == 93;
            });
            gridData = "";
            gridData += "<div class='card-icon' style='padding:0px; '> <i class='material-icons'>room_preferences</i> </div>";
            gridData += "<p class='card-category'>Lab - Usages</p>";
            $("#divLabUsage").html("");
            for (var i = 0; i < dataList.length; i++) {

                gridData = gridData + "<br/><h7 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h7>";
            }
            $("#divLabUsage").html(gridData);

            //////////////////////////  Lab Invoicing /////////////////////////////////////////////
             dataList = jQuery.grep(data, function (obj) {
                return obj.BPId == 94;
            });
            gridData = "";
            gridData += "<div class='card-icon' style='padding:0px; '> <i class='material-icons'>room_preferences</i> </div>";
            gridData += "<p class='card-category'>Lab - Invoicing</p>";
            $("#divLabInvoice").html("");
            for (var i = 0; i < dataList.length; i++) {

                gridData = gridData + "<br/><h7 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h7>";
            }
            $("#divLabInvoice").html(gridData);


        }
        catch (e) {

        }
    }


    $(document).ready(function () {
        LoadDashboardInfo();
    });

</script>