@model PGMSFront.Models.CommonModel
@{
    ViewBag.Title = "Lab Booking & RFQ";
    Layout = "~/Views/Shared/_LayoutLabBookingAndRFQ.cshtml";
}
<style>
    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .bootstrap-select {
        margin-top: 16px !important;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-text">
                        <h4 class="card-title">Lab Dashboard</h4>
                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                    }
                </div>
            </div>
        </div>
    </div>
</div>