@model PGMSFront.Models.CommonModel
@{
    /**/

    ViewBag.Title = "Track Booking & RFQ";
    Layout = "~/Views/Shared/_LayoutTrackBookingAndRFQ.cshtml";
}
<style>
    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .bootstrap-select {
        margin-top: 16px !important;
    }

    .badge {
        padding: 2px 2px;
        font-size: 13px;
        color: #FFF;
        background: #000;
        border-radius: 50%;
        margin-top: 6px;
        margin-right: 3px;
        min-width: 20px;
    }

    .card-stats .card-header .card-category:not([class*="text-"]) {
        color: #000;
        font-size: 18px;
        font-weight: 400;
    }

    .card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
        text-align: left;
    }

    .card [class*="card-header-"] {
        margin: 0px 5px 0;
        padding: 0;
        position: relative;
    }

    .card-stats .card-header + .card-footer {
        margin-top: 8px;
    }

    .card-stats .card-header .card-category:not([class*="text-"]) {
        color: #FFF;
    }

    .card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
        color: #FFF;
    }

    .card .card-body + .card-footer .stats, .card .card-footer .stats {
        color: #FFF;
        line-height: 15px;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-text">
                        <h4 class="card-title">Track Dashboard</h4>
                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4" style="padding-right: 0px;padding-left: 0px;vertical-align:top">
                                <div class="card card-stats" style="background: #fb8c00;">
                                    <div id="divTrackRFQ" style="text-align:left; height: 160px;" class="card-header card-header-warning card-header-icon">

                                    </div>
                                    <div class="card-footer">
                                        @*<div class="stats">View More <i class="material-icons">arrow_forward</i></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4" style="        padding-right: 0px;
        padding-left: 5px;">
                                <div class="card card-stats" style="background: #d81b60;">
                                    <div id="divTrackBooking" style="text-align:left; height: 160px;" class="card-header card-header-rose card-header-icon">

                                    </div>
                                    <div class="card-footer">
                                        @*<div class="stats">View More <i class="material-icons">arrow_forward</i></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4" style="        padding-right: 0px;
        padding-left: 5px;">
                                <div class="card card-stats" style="background: #43a047;">
                                    <div id="divTrackUsage" style="text-align:left; height: 160px;" class="card-header card-header-success card-header-icon">

                                    </div>
                                    <div class="card-footer">
                                        @*<div class="stats">View More <i class="material-icons">arrow_forward</i></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4" style="        padding-right: 0px;
        padding-left: 5px;">
                                <div class="card card-stats" style="background: #8e24aa;">
                                    <div id="divTrackInvoice" style="text-align:left; height: 160px;" class="card-header card-header-primary card-header-icon">

                                    </div>
                                    <div class="card-footer">
                                        @*<div class="stats">View More <i class="material-icons">arrow_forward</i></div>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    <hr />
                    <div id="divDashboard" style="display:none" class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="5%">Action</th>
                                    <th width="15%">Company</th>
                                    <th width="15%">Department</th>
                                    <th width="10%">Document Date</th>
                                    <th width="15%">Document No.</th>
                                    <th width="25%">Status</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyBooking"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
      ///////////////////////////// LoadDashboardInfo  //////////////////////////////////////////////////////
    function LoadDashboardInfo() {
        try {
            LoaderShow();

            var data = {};
            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });

            $.ajax({
                url: '@Url.Action("LoadDashboardInfo", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (data) {

                    LoaderHide();
                    if (data.StatusId != "99" && data.StatusId != "-99") {
                        BindDashboarData(data.DashboardList);
                    }
                    else {
                        alert(data.Status);
                    }
                },
                error: function (xhr) {

                    LoaderHide();
                    alert(xhr.responseText);
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
        }
        return false;
    }

    ///////////////////////////// Bind Dashboard Info  //////////////////////////////////////////////////////
    function BindDashboarData(data) {
        try {

            var gridData = "";

            ////////////////////////// Track - RFQ /////////////////////////////////////////////
            var dataList = jQuery.grep(data, function (obj) {
                return obj.BPId == 46;
            });

            gridData = "";
            gridData = gridData +  "<div class='card-icon' style='padding:0px;'> <i class='material-icons'>emoji_transportation</i> </div>";
            gridData = gridData +  "<p class='card-category'>Track - RFQ</p>";
            $("#divTrackRFQ").html("");
            for (var i = 0; i < dataList.length; i++) {

                gridData = gridData + "<br/><h7 class='card-title'><a href='#' onclick = 'DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId(" + NullHandle(dataList[i].BPId) + "," + NullHandle(dataList[i].WorkFlowId) + "," + '"' + + NullHandle(dataList[i].StatusPropId) + '"' + ")'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts)+"</span></h7>";
            }

            $("#divTrackRFQ").html(gridData);

            ////////////////////////// Track - Booking   /////////////////////////////////////////////
             dataList = jQuery.grep(data, function (obj) {
                return obj.BPId == 21;
            });
            gridData = "";
            gridData += "<div class='card-icon' style='padding:0px;'> <i class='material-icons'>emoji_transportation</i> </div>";
            gridData += "<p class='card-category'>Track - Booking</p>";
            $("#divTrackBooking").html("");
            for (var i = 0; i < dataList.length; i++) {

                gridData = gridData + "<br/><h7 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h7>";
            }
            $("#divTrackBooking").html(gridData);

            //////////////////////////   Track Usages /////////////////////////////////////////////
             dataList = jQuery.grep(data, function (obj) {
                return obj.BPId == 24;
            });
            gridData = "";
            gridData += "<div class='card-icon' style='padding:0px;'> <i class='material-icons'>emoji_transportation</i> </div>";
            gridData += "<p class='card-category'>Track - Usages</p>";
            $("#divTrackUsage").html("");
            for (var i = 0; i < dataList.length; i++) {

                gridData = gridData + "<br/><h7 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h7>";
            }
            $("#divTrackUsage").html(gridData);

            //////////////////////////  Track Invoicing /////////////////////////////////////////////
             dataList = jQuery.grep(data, function (obj) {
                return obj.BPId == 39;
            });
            gridData = "";
            gridData += "<div class='card-icon' style='padding:0px;'> <i class='material-icons'>emoji_transportation</i> </div>";
            gridData += "<p class='card-category'>Track - Invoicing</p>";
            $("#divTrackInvoice").html("");
            for (var i = 0; i < dataList.length; i++) {

                gridData = gridData + "<br/><h7 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h7>";
            }
            $("#divTrackInvoice").html(gridData);

            ////////////////////////////  Lab - RFQ /////////////////////////////////////////////
            // dataList = jQuery.grep(data, function (obj) {
            //    return obj.BPId == 91;
            //});
            //gridData = "";
            //gridData += "<div class='card-icon' style='padding:0px; margin-top:-35px;'> <i class='material-icons'>equalizer</i> </div>";
            //gridData += "<p class='card-category'>Track - RFQ</p>";
            //$("#divLabRFQ").html("");
            //for (var i = 0; i < dataList.length; i++) {

            //    gridData = gridData + "<h5 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h5>";
            //}
            //$("#divLabRFQ").html(gridData);

            ////////////////////////////  Lab Booking /////////////////////////////////////////////
            // dataList = jQuery.grep(data, function (obj) {
            //    return obj.BPId == 90;
            //});
            //gridData = "";
            //gridData += "<div class='card-icon' style='padding:0px; margin-top:-35px;'> <i class='material-icons'>equalizer</i> </div>";
            //gridData += "<p class='card-category'>Lab - Booking</p>";
            //$("#divLabBooking").html("");
            //for (var i = 0; i < dataList.length; i++) {

            //    gridData = gridData + "<h5 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h5>";
            //}
            //$("#divLabBooking").html(gridData);

            ////////////////////////////  Lab /////////////////////////////////////////////
            // dataList = jQuery.grep(data, function (obj) {
            //    return obj.BPId == 93;
            //});
            //gridData = "";
            //gridData += "<div class='card-icon' style='padding:0px; margin-top:-35px;'> <i class='material-icons'>equalizer</i> </div>";
            //gridData += "<p class='card-category'>Lab - Usages</p>";
            //$("#divLabUsage").html("");
            //for (var i = 0; i < dataList.length; i++) {

            //    gridData = gridData + "<h5 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h5>";
            //}
            //$("#divLabUsage").html(gridData);

            ////////////////////////////  Lab Invoicing /////////////////////////////////////////////
            // dataList = jQuery.grep(data, function (obj) {
            //    return obj.BPId == 94;
            //});
            //gridData = "";
            //gridData += "<div class='card-icon' style='padding:0px; margin-top:-35px;'> <i class='material-icons'>equalizer</i> </div>";
            //gridData += "<p class='card-category'>Lab - Invoicing</p>";
            //$("#divLabInvoice").html("");
            //for (var i = 0; i < dataList.length; i++) {

            //    gridData = gridData + "<h5 class='card-title'><a href='#'>" + NullHandle(dataList[i].Caption) + "</a>&nbsp;<span class='badge pull-right'>" + NullHandle(dataList[i].Counts) + "</span></h5>";
            //}
            //$("#divLabInvoice").html(gridData);


        }
        catch (e) {

        }
    }

    ///////////////////////////// Load Booking Info  //////////////////////////////////////////////////////
    function DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId(varBPId,varWFId,varStatusPropId) {
        try {

            LoaderShow();
            var data = { 'intBPId': varBPId, 'intWorkFlowId': varWFId, 'strStatusPropId': varStatusPropId};
            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
            $.ajax({
                url: '@Url.Action("DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (data) {
                    LoaderHide();
                    if (data.StatusId != "99" && data.StatusId != "-99") {                      
                        BindGridData(data.DashBoardDocumentList);
                    }
                    else {
                        alert(data.Status);
                    }
                },
                error: function (xhr) {

                    LoaderHide();
                    alert(xhr.responseText);
                }
            });
        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

    function BindGridData(data) {

        try {
            var gridData = "";

            $("#tbodyBooking").html("");

            for (var i = 0; i < data.length; i++) {
                gridData = gridData + "<tr >";

                gridData = gridData + "<td class='td-actions'>";
                gridData = gridData + "<button type='button' rel='tooltip' class='btn btn-info' data-original-title='' title='Select Booking No : " + data[i].BookingNo+"' onclick = 'BookingGetByBookingId(" + NullHandle(data[i].BookingId) + ")'><i class='material-icons'>trending_up</i></button>";
                gridData = gridData + "</td>";

                //gridData = gridData + "<td>" + NullHandle(data[i].CompanyName) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].Department) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZBookingDate) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].BookingNo) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZStatus) + "</td>";


                gridData = gridData + "</tr>";
            }

            $("#tbodyBooking").html(gridData);


        }
        catch (e) {

        }
    }

    function BookingGetByBookingId(BookingId) {
        location.href = "@Url.Action("BookingGetByBookingId", "Home", new { id = UrlParameter.Optional })" + "?" + "dfs,ktgbdas,hdffg.khdfrhdduihdgtymdmpxjidgndlxcmhdgmdpldjn,dlkchgj,d,.dkjdhhdk,dmdhhnd,dkmdndhnndmdmjmd" + "&" + "intBookingId=" + BookingId;        
       
    }


    $(document).ready(function () {
        LoadDashboardInfo();
    });

</script>

