@model PGMSFront.Models.CommonModel
@{
    ViewBag.Title = "Track Booking & RFQ";
    Layout = "~/Views/Shared/_LayoutTrackBookingAndRFQ.cshtml";
}
<style>
    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .bootstrap-select {
        margin-top: 16px !important;
    }

    .td {
        border-bottom: 1px solid #ff9800 !important;
    }

    .main-panel > .content {
        margin-top: 0 !important;
    }
</style>

<div class="content">
    <div class="container-fluid">
        @using (Html.BeginForm(new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
           

        }
    </div>
</div>

<script>
    var BookingList = '';

    ///////////////////////////// Load Basic Info  //////////////////////////////////////////////////////
    function LoadBookingInfo() {
        try {
            LoaderShow();
            var data = { 'intDepartmentId': 0, 'intBookingTypeId': 21, 'intStatusPropId': 40 };
            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
            $.ajax({
                url: '@Url.Action("BookingSearchViewGetByDepartmentBookinStatus", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (data) {
                    LoaderHide();
                    if (data.StatusId != "99" && data.StatusId != "-99") {
                        BookingList = data.BookingList;
                        BindGridData(data.BookingList);
                    }
                },
                error: function (xhr) {

                    LoaderHide();
                    alert(xhr.responseText);
                }
            });
        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

    function BindGridData(data) {

        try {
            var gridData = "";

            $("#tbodyBooking").html("");

            for (var i = 0; i < data.length; i++) {
                gridData = gridData + "<tr >";
                gridData = gridData + "<td>" + NullHandle(i+1) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZBookingDate) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].BookingNo) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].Department) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].Project) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZUpdatedBy) + "</td>";
                gridData = gridData + "<td class='td-actions'>";
                gridData = gridData + "<button type='button' rel='tooltip' class='btn btn-info' data-original-title='' title='Select Booking No : " + data[i].BookingNo + "' onclick = 'BookingGetByBookingId(" + NullHandle(data[i].BookingId) + ")'><i class='material-icons'>trending_up</i></button>";
                gridData = gridData + "</td>";


                gridData = gridData + "</tr>";
            }

            $("#tbodyBooking").html(gridData);


        }
        catch (e) {

        }
    }

    function BookingGetByBookingId(BookingId) {
        location.href = "@Url.Action("BookingGetByBookingId", "Home", new { id = UrlParameter.Optional })" + "?" + "dfs,ktgbdas,hdffg.khdfrhdduihdgtymdmpxjidgndlxcmhdgmdpldjn,dlkchgj,d,.dkjdhhdk,dmdhhnd,dkmdndhnndmdmjmd" + "&" + "intBookingId=" + BookingId

        //window.location.href = '@Url.Action("BookingGetByBookingId", "Home")?intBookingId='+BookingId+'';
    }

    $(document).ready(function () {
        LoadBookingInfo();

    });
</script>