@{
    ViewBag.Title = "Kinamatics Compliance Machine Detail";
}

<style>
    .card .card-header .card-title {
        font-weight: 700;
        margin-bottom: 0px;
        border-bottom: 1px solid #ddd;
        padding: 25px 10px 5px 0px;
        margin: 0;
        box-shadow: none !important;
        background: #ffffff;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="home-demo">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Kinamatics Compliance Machine</h4>
                        </div>
                        <div class="card-body">
                            <div id="accordion" role="tablist">
                                <div class="card-collapse">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                Description & Documents
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    @*Type A - Straight<br />Type A - Steering<br />Type B - Both<br />*@
                                                    <p>
                                                        NATRIP single axle K&C Test rig is a special type of machine for measurement of vehicle suspension through kinematics and compliance testing established by m/s AB Dynamics, UK. THIS single axle K&C machine is used to test vehicles upto 4000 kg. the vehicle chassis is grabbed from underneath and is moved to excite vertical bounce, roll and Pitch motions through electro-mechanical actuators. The tyre stay in contact with a level “road plane” at two individual wheel pads. These wheel pads can introduce ground level force to simulate braking, acceleration, and cornering loads on contact patches. High level precision digital encoders and loads wheel orientations every moment.
                                                    </p>
                                                    <p>
                                                        <b>SPECIFICATIONS:</b>
                                                    </p>
                                                    <ul>
                                                        <li>Max Vehicle Weight: - 4000kg</li>
                                                        <li>Max Axle Weight: - 2200kg</li>
                                                        <li>Track Range: - 1.1 to 2.1mm</li>
                                                        <li>Steering Wheel Angle: - Unlimited (with a steering robot)</li>
                                                        <li>Vertical Bounce: +/- 190 mm</li>
                                                        <li>Roll: +/- 10 deg</li>
                                                        <li>Pitch: +/- 8 deg</li>
                                                    </ul>
                                                    <p>
                                                        <b>TESTING CAPABILITIES:</b>
                                                    </p>
                                                    <ul>
                                                        <li>Bounce Test</li>
                                                        <li>Roll Test</li>
                                                        <li>Steering Motion</li>
                                                        <li>Longitudinal force Input</li>
                                                        <li>Aligning Torque input</li>
                                                        <li>Other Customized Tests</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="javascript:void(0)" style="color: #000;"><img src="~/Templates/img/pdfIcon.png">PDF for detail</a><br /><br />
                                                    <a href="javascript:void(0)" style="color: #000;"><img src="~/Templates/img/pdfIcon.png">PDF for detail</a><br /><br />
                                                    <a href="javascript:void(0)" style="color: #000;"><img src="~/Templates/img/pdfIcon.png">PDF for detail</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-collapse">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="">
                                                Images
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="owl-carousel owl-theme">
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-collapse">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="">
                                                Videos
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="owl-carousel owl-theme">
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/noImage.png" width="300" height="200" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

