@{
    ViewBag.Title = "Lab";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="~/Templates/Tracks/noImage.png">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">Instrumentation Lab</a>
                        </h4>
                        @*<div class="card-description">
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                        </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="@Url.Action("InstrumentationLabDetail", "Home")" class="card-category" style="cursor: pointer"><i class="material-icons">local_offer</i> View More..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="~/Templates/Tracks/VDY.JPG">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">Vehicle Dynamics Lab</a>
                        </h4>
                        @*<div class="card-description">
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                        </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="@Url.Action("VehicleDyanmicsLabDetail", "Home")" class="card-category" style="cursor: pointer"><i class="material-icons">local_offer</i> View More..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="~/Templates/Tracks/Power Train.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">Power Train Lab</a>
                        </h4>
                        @*<div class="card-description">
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                        </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="@Url.Action("PowerTrainLabDetail", "Home")" class="card-category" style="cursor: pointer"><i class="material-icons">local_offer</i> View More..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="~/Templates/Tracks/noImage.png">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" style="font-size: 17px;">
                            <a href="#pablo">CAD CAE Lab</a>
                        </h4>
                        @*<div class="card-description">
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                        </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="@Url.Action("CADCAELabDetail", "Home")" class="card-category" style="cursor: pointer"><i class="material-icons">local_offer</i> View More..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>