@{
    ViewBag.Title = "Test Hill & Gradient Track Detail";
}

<style>
    .card .card-header .card-title {
        font-weight: 700;
        margin-bottom: 0px;
        border-bottom: 1px solid #ddd;
        padding: 25px 10px 5px 0px;
        margin: 0;
        box-shadow: none !important;
        background: #ffffff;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="home-demo">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Test Hill & Gradient</h4>
                        </div>
                        <div class="card-body">
                            <div id="accordion" role="tablist">
                                <div class="card-collapse">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                Description & Documents
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>The Gradient track or the Hill track is used to test the torque capacity of a vehicle and also to determine the Gradability of the test vehicle and the efficiency of parking brake on a slope.</p>
                                                    <ul>
                                                        <li>Gradient Tracks with slopes of 6% / 8%, 12%, 18%, 20%, 24% and 30%.</li>
                                                        <li>
                                                            Split section with ceramic tiles for development of traction system.
                                                            The gradient track or the hill track is used to test the torque capacity of a vehicle and also to determine the gradeability of the test vehicle and the efficiency of parking brake on a slope.
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="javascript:void(0)" style="color: #000;"><img src="~/Templates/img/pdfIcon.png">PDF for detail</a><br />
                                                    <a href="javascript:void(0)" style="color: #000;"><img src="~/Templates/img/pdfIcon.png">PDF for detail</a><br />
                                                    <a href="javascript:void(0)" style="color: #000;"><img src="~/Templates/img/pdfIcon.png">PDF for detail</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-collapse">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="">
                                                Images
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="owl-carousel owl-theme">
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/T4 Gradient Track.jpg" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/T4 Gradient Track_Side View Top Angle.jpg" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/T4 Gradient Track_Side View.jpg" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/T4 Gradient Track_Sky Eye View.jpg" width="300" height="200" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-collapse">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="">
                                                Videos
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="owl-carousel owl-theme">
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/T4 Gradient Track.jpg" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/T4 Gradient Track_Side View Top Angle.jpg" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/T4 Gradient Track_Side View.jpg" width="300" height="200" />
                                                </div>
                                                <div class="item">
                                                    <img class="img-responsive img-thumbnail" src="~/Templates/Tracks/T4 Gradient Track_Sky Eye View.jpg" width="300" height="200" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

