@{
    ViewBag.Title = "Test Hill";
    Layout = "~/Views/Shared/_LayoutTrack.cshtml";
}
<style>
    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .table thead tr th {
        font-size: 14px;
        border-top: 1px solid #ddd;
    }

    .table tbody tr td {
        font-size: 14px;
    }

    .card-header {
        padding: 0px 4px 0px 10px !important;
    }

    .card .card-body {
        padding: 0px 5px 5px 5px !important
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Vehicle wise Test Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="5%">#</th>
                                                <th width="14%">Vehicle No.</th>
                                                <th width="15%">Vehicle Category</th>
                                                <th width="15%">Driver</th>
                                                <th width="7%" class="text-right">From Date</th>
                                                <th width="7%" class="text-right">To Date</th>
                                                <th width="7%" class="text-right">Test Days</th>
                                                <th width="9%" class="text-right">Usage Hrs.</th>
                                                <th width="9%" class="text-right">Rounded</th>
                                                <th width="6%" class="text-right">Bill Hrs.</th>
                                                <th width="6%" class="text-right">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="tr_1" onclick="changeColor('1')">
                                                <td>1</td>
                                                <td>MP09 CH 1234</td>
                                                <td>HCV</td>
                                                <td class="table-warning">
                                                    <select class="form-control">
                                                        <option>- Select Driver -</option>
                                                        <option>Kapil</option>
                                                        <option>Nilesh</option>
                                                    </select>
                                                </td>
                                                <td class="text-right">18/03/2020</td>
                                                <td class="text-right">30/03/2020</td>
                                                <td class="text-right">3</td>
                                                <td class="text-right">02:10</td>
                                                <td class="text-right">03</td>
                                                <td class="text-right">12</td>
                                                <td class="text-right">68,000.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td width="4%">#1</td>
                                    <td width="4%" style="border-left: 1px solid #DDD;">Date</td>
                                    <td width="10%"><input type="text" class="form-control datetimepicker"></td>
                                    <td width="4%" style="border-left: 1px solid #DDD;">Type</td>
                                    <td width="10%">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="Type" value="1" onclick="SelectTrack()"> All
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="Type" value="2" onclick="SelectTrack()"> Any two
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td width="14%" style="border-left: 1px solid #DDD;">Time slot for starting the Test</td>
                                    <td width="10%">
                                        <select class="form-control">
                                            <option>- Select Time Slot -</option>
                                            <option>08AM - 11AM</option>
                                            <option>11AM - 02PM</option>
                                            <option>02PM - 5PM</option>
                                            <option>05PM - 08PM</option>
                                        </select>
                                    </td>
                                    <td width="10%">
                                        <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore()">Add More</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="13%">Track</th>
                                                <th width="6%" class="text-right">Rate</th>
                                                <th width="6%">Unit</th>
                                                <th width="10%" class="text-right">Estimated Usage</th>
                                                <th width="13%" class="text-right">Bookings Status on Day</th>
                                                <th width="13%" class="text-right">Booking Status in slot</th>
                                                <th width="13%" class="text-right">Slot wise Confirmed</th>
                                                <th width="8%" class="text-right">Round Hours</th>
                                                <th width="7%" class="text-right">Bill Hours</th>
                                                <th width="6%" class="text-right">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="TypeNone">
                                                <td>-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                            </tr>
                                            <tr class="TypeAll" style="display: none">
                                                <td>All Gradient</td>
                                                <td class="text-right">7000</td>
                                                <td>Hourly</td>
                                                <td class="text-right table-warning"><input type="text" class="form-control timepicker text-right"></td>
                                                <td class="text-right">1</td>
                                                <td class="text-right">4</td>
                                                <td class="text-right">28000</td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                            </tr>
                                            <tr class="TypeSelected" style="display: none">
                                                <td>Any Two</td>
                                                <td class="text-right">5000</td>
                                                <td>Hourly</td>
                                                <td class="text-right table-warning"><input type="text" class="form-control timepicker text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore()">Submit</button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="AddMoreRow" style="display: none;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td width="4%">#2</td>
                                    <td width="4%" style="border-left: 1px solid #DDD;">Date</td>
                                    <td width="10%"><input type="text" class="form-control datetimepicker"></td>
                                    <td width="4%" style="border-left: 1px solid #DDD;">Type</td>
                                    <td width="10%">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="Type" value="1" onclick="SelectTrack()"> All
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="Type" value="2" onclick="SelectTrack()"> Any two
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td width="14%" style="border-left: 1px solid #DDD;">Time slot for starting the Test</td>
                                    <td width="10%">
                                        <select class="form-control">
                                            <option>- Select Time Slot -</option>
                                            <option>08AM - 11AM</option>
                                            <option>11AM - 02PM</option>
                                            <option>02PM - 5PM</option>
                                            <option>05PM - 08PM</option>
                                        </select>
                                    </td>
                                    <td width="10%"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="13%">Track</th>
                                                <th width="6%" class="text-right">Rate</th>
                                                <th width="6%">Unit</th>
                                                <th width="10%" class="text-right">Estimated Usage</th>
                                                <th width="13%" class="text-right">Bookings Status on Day</th>
                                                <th width="13%" class="text-right">Booking Status in slot</th>
                                                <th width="13%" class="text-right">Slot wise Confirmed</th>
                                                <th width="8%" class="text-right">Round Hours</th>
                                                <th width="7%" class="text-right">Bill Hours</th>
                                                <th width="6%" class="text-right">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="TypeNone">
                                                <td>-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                            </tr>
                                            <tr class="TypeAll" style="display: none">
                                                <td>All Gradient</td>
                                                <td class="text-right">7000</td>
                                                <td>Hourly</td>
                                                <td class="text-right table-warning"><input type="text" class="form-control timepicker text-right"></td>
                                                <td class="text-right">1</td>
                                                <td class="text-right">4</td>
                                                <td class="text-right">28000</td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                            </tr>
                                            <tr class="TypeSelected" style="display: none">
                                                <td>Any Two</td>
                                                <td class="text-right">5000</td>
                                                <td>Hourly</td>
                                                <td class="text-right table-warning"><input type="text" class="form-control timepicker text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                                <td class="text-right"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore()">Submit</button>
                    </div>
                </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var Holdid = '';
    var spanPrv = '';
    function changeColor(id) {
        if (id != Holdid || Holdid == "") {
            $("#tr_" + Holdid + "").removeClass('highlighted');
            $("#sp_" + Holdid).css("visibility", "hidden");
            $("#tr_" + id + "").addClass('highlighted');
            Holdid = id;
        }
        else {
            if ($("#tr_" + id + "").hasClass('highlighted')) {
                $("#tr_" + id + "").removeClass('highlighted');
                Holdid = 0;
            }
            else {
                $("#tr_" + id + "").addClass('highlighted');
                Holdid = id;
            }
        }
    }

    //function SelectTrack() {
    //    debugger
    //    var val = $("#Type").val();
    //    if (val == 1) {
    //        $("#TypeNone").hide();
    //        $(".TypeSelected").hide();
    //        $(".TypeAll").show();
    //    } else {
    //        $("#TypeNone").hide();
    //        $(".TypeAll").hide();
    //        $(".TypeSelected").show();
    //    }
    //}

    function SelectTrack() {
        debugger
        var radioValue = $("input[name='Type']:checked").val();
        if (radioValue == 1) {
            $("#TypeNone").hide();
            $(".TypeSelected").hide();
            $(".TypeAll").show();
        } else {
            $("#TypeNone").hide();
            $(".TypeAll").hide();
            $(".TypeSelected").show();
        }
    }

    function AddMore() {
        $("#AddMoreRow").show();
    }
</script>