@{
    ViewBag.Title = "Vehicle Dynamics Lab";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="~/Templates/Tracks/K&C3.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">Kinamatics & Compliance Machine</a>
                        </h4>
                        @*<div class="card-description">
                                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                            </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="@Url.Action("KinamaticsComplianceMachineDetail", "Front")" class="card-category" style="cursor: pointer"><i class="material-icons">local_offer</i> View More..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="~/Templates/Tracks/Steering Test Rig.JPG">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">Steering Test Rig</a>
                        </h4>
                        @*<div class="card-description">
                                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                            </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="@Url.Action("SteeringTestRigDetail", "Front")" class="card-category" style="cursor: pointer"><i class="material-icons">local_offer</i> View More..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="~/Templates/Tracks/Damper Test Rig.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#pablo">Damper Test Rig</a>
                        </h4>
                        @*<div class="card-description">
                                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                            </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="@Url.Action("DamperTestRigDetail", "Front")" class="card-category" style="cursor: pointer"><i class="material-icons">local_offer</i> View More..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="~/Templates/Tracks/Elastomer test rig.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" style="font-size: 17px;">
                            <a href="#pablo">Elastomer Test Rig</a>
                        </h4>
                        @*<div class="card-description">
                                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                            </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="@Url.Action("ElastomerTestRigDetail", "Front")" class="card-category" style="cursor: pointer"><i class="material-icons">local_offer</i> View More..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



